<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('meta')%>
        <%- include('style') %>
</head>

<body>
    <%- include('header') %>
        <main class="main">

            <!-- breadcrumb -->
            <div class="site-breadcrumb">
                <div class="site-breadcrumb-bg" style="background: url(images/breadcrumb/01.jpg)"></div>
                <div class="container">
                    <div class="site-breadcrumb-wrap">
                        <h4 class="breadcrumb-title">Head cap</h4>
                        <ul class="breadcrumb-menu">
                            <li><a href="/"><i class="far fa-home"></i> Home</a></li>
                            <li class="active">Head cap</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- breadcrumb end -->


            <!-- shop single -->
            <div class="shop-single py-90">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-6 col-xxl-5">
                            <div class="shop-single-gallery">
                                <!-- <a class="shop-single-video popup-youtube" href="https://www.youtube.com/watch?v=ckHzmP1evNU" data-tooltip="tooltip" title="Watch Video">
                                <i class="far fa-play"></i>
                            </a> -->
                                <div class="flexslider-thumbnails">
                                    <ul class="slides">
                                        <li data-thumb="images/product/head-cap-1.png" rel="adjustX:10, adjustY:">
                                            <img src="images/product/head-cap-1.png" alt="#">
                                        </li>
                                        <!-- <li data-thumb="images/product/02.png">
                                            <img src="images/product/02.png" alt="#">
                                        </li>
                                        <li data-thumb="images/product/03.png">
                                            <img src="images/product/03.png" alt="#">
                                        </li>
                                        <li data-thumb="images/product/04.png">
                                            <img src="images/product/04.png" alt="#">
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xxl-6">
                            <div class="shop-single-info">
                                <h4 class="shop-single-title">Head cap</h4>

                                <!-- <div class="shop-single-price">
                                <del>$690</del>
                                <span class="amount">$650</span>
                                <span class="discount-percentage">30% Off</span>
                            </div> -->
                                <p class="mb-3">
                                    A surgical head cap is a disposable or reusable protective cover worn over the head
                                    to prevent hair and other particles from contaminating a sterile field.
                                <div class="shop-single-size shop-single-list mt-0">
                                    <h6 class="fw-bold">Usage</h6>
                                    <ul class="list">
                                        <li>Worn by surgeons, nurses, lab technicians, and healthcare workers in sterile
                                            environments.</li>
                                        <li>Prevents hair, sweat, and particles from falling into surgical or clinical
                                            areas</li>
                                        <li>Helps maintain a clean and hygienic environment in both medical and
                                            industrial settings.</li>
                                        <li>Often used during surgical procedures, patient care, or sterile product
                                            handling..</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>





                    <!-- shop single details -->
                    <div class="shop-single-details">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-tab2" data-bs-toggle="tab"
                                    data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2"
                                    aria-selected="true"> Product
                                    Specifications</button>

                                <button class="nav-link" id="nav-tab3" data-bs-toggle="tab" data-bs-target="#tab3"
                                    type="button" role="tab" aria-controls="tab3" aria-selected="true"> Product
                                    Description</button>

                                <button class="nav-link " id="nav-tab1" data-bs-toggle="tab" data-bs-target="#tab1"
                                    type="button" role="tab" aria-controls="tab1" aria-selected="true">Usage
                                    Guidelines</button>



                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">

                            <div class="tab-pane fade " id="tab1" role="tabpanel" aria-labelledby="nav-tab1">
                                <div class="shop-single-desc pt-0">


                                    <div class="row">
                                        <div class="col-lg-5 col-xl-4">
                                            <div class="shop-single-list">

                                                <ul>
                                                    <li>Before Use:
                                                        • Wash or sanitize hands before handling the cap.
                                                        • Inspect cap for cleanliness and packaging integrity.
                                                    </li>

                                                    <li> Wearing:
                                                        • Place the cap over the head ensuring full hair coverage.
                                                        • Adjust elastic or tie the straps for a secure, comfortable
                                                        fit.
                                                        • Ensure ears and forehead are also partially covered to prevent
                                                        exposure.
                                                    </li>

                                                    <li>During Use:
                                                        • Avoid touching or readjusting the cap unnecessarily.
                                                        • Use only once if it’s labeled as disposable.
                                                    </li>
                                                    <li>After Use:
                                                        • Remove carefully without touching the outside.
                                                        • Dispose of in a medical waste bin or as per institutional
                                                        guidelines.
                                                        • Sanitize hands after disposal.
                                                    </li>


                                                    </li>
                                                </ul>




                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade show active" id="tab2" role="tabpanel" aria-labelledby="nav-tab2">
                                <div class="shop-single-desc">


                                    <div class="row">

                                        <div class="col-lg-6 col-xl-5">
                                            <div class="shop-single-list">
                                                <h5 class="title">Specifications</h5>
                                                <ul>
                                                    <li><span>Material</span>Non-woven Polypropylene (Spunbond)
                                                    </li>
                                                    <li><span>Type</span>Tie-on / Bouffant Style</li>
                                                    <li><span>Size</span>Universal fit (18”, 21”, or 24” options)</li>
                                                    <li><span>GSM</span>10 – 25 GSM (as required) </li>
                                                    <li><span>Packaging</span>100 pcs/pack or customized</li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade " id="tab3" role="tabpanel" aria-labelledby="nav-tab3">
                                <div class="shop-single-desc">


                                    <div class="row">
                                        <div class="col-lg-5 col-xl-4">
                                            <div class="shop-single-list">

                                                <ul>
                                                    <li>Elastic or tie closure ensures secure fit for various head
                                                        sizes.</li>
                                                    <li>Designed to fully cover the head and hair, minimizing
                                                        contamination
                                                        risk.</li>
                                                    <li>Ideal for single-use disposable applications to ensure hygiene.
                                                    </li>
                                                    <li>Designed for dust and bacteria barrier effectiveness in sterile
                                                        zones.
                                                    </li>


                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- related item -->
            <div class="product-area related-item pt-40">
                <div class="container px-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="site-heading-inline">
                                <h2 class="site-title">Related Items</h2>
                                <a href="#">View More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 item-2">
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="/shoe-cover"><img src="/images/product/boot-cap-1.png" alt=""></a>
                                    <div class="product-action-wrap">

                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/shoe-cover">Shoe-Cover</a></h3>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="/gown"><img src="/images/product/surgical-gown-1.png" alt=""></a>
                                    <div class="product-action-wrap">

                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/gown">Gown</a></h3>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="/latex-glove"><img src="/images/product/latex-glove-1.png" alt=""></a>
                                    <div class="product-action-wrap">

                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/latex-glove">Latex-Glove</a></h3>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="/nitrile-glove"><img src="/images/product/nitrile-glove-1.png" alt=""></a>
                                    <div class="product-action-wrap">

                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/nitrile-glove">Nitrile Glove</a></h3>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <!-- related item end -->
            </div>
            </div>
            <!-- shop single end -->

        </main>

        <%- include('footer') %>
            <%- include('js') %>
</body>

</html>