<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('meta')%>
        <%- include('style') %>
</head>

<body>
    <%- include('header') %>
        <main class="main">

            <!-- breadcrumb -->
            <div class="site-breadcrumb">
                <div class="site-breadcrumb-bg" style="background: url(images/breadcrumb/01.jpg)"></div>
                <div class="container">
                    <div class="site-breadcrumb-wrap">
                        <h4 class="breadcrumb-title">Hypo-allergic-tape</h4>
                        <ul class="breadcrumb-menu">
                            <li><a href="/"><i class="far fa-home"></i> Home</a></li>
                            <li class="active">Hypo-allergic-tape</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- breadcrumb end -->


            <!-- shop single -->
            <div class="shop-single py-90">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-6 col-xxl-5">
                            <div class="shop-single-gallery">
                                <!-- <a class="shop-single-video popup-youtube" href="https://www.youtube.com/watch?v=ckHzmP1evNU" data-tooltip="tooltip" title="Watch Video">
                                <i class="far fa-play"></i>
                            </a> -->
                                <div class="flexslider-thumbnails">
                                    <ul class="slides">
                                        <li data-thumb="images/product/hypo-allergic-tape-1.png"
                                            rel="adjustX:10, adjustY:">
                                            <img src="images/product/hypo-allergic-tape-1.png" alt="#">
                                        </li>
                                        <!-- <li data-thumb="images/product/02.png">
                                            <img src="images/product/02.png" alt="#">
                                        </li>
                                        <li data-thumb="images/product/03.png">
                                            <img src="images/product/03.png" alt="#">
                                        </li>
                                        <li data-thumb="images/product/04.png">
                                            <img src="images/product/04.png" alt="#">
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xxl-6">
                            <div class="shop-single-info">
                                <h4 class="shop-single-title">Hypo-allergic-tape</h4>

                                <!-- <div class="shop-single-price">
                                <del>$690</del>
                                <span class="amount">$650</span>
                                <span class="discount-percentage">30% Off</span>
                            </div> -->
                                <p class="mb-3">
                                    Hypo-allergenic tape is a skin-friendly medical adhesive tape designed to secure
                                    dressings, bandages, or medical devices to the skin without causing irritation or
                                    allergic reactions. Specially formulated for sensitive, delicate, or allergy-prone
                                    skin.
                                <div class="shop-single-size shop-single-list mt-0">
                                    <h6 class="fw-bold">Usage</h6>
                                    <ul class="list">
                                        <li> Ideal for securing wound dressings, catheters, IV lines, and bandages.</li>
                                        <li>Used in post-operative care, general wound management, and long-term
                                            applications.</li>
                                        <li>Preferred in dermatology, pediatric, and geriatric care due to its
                                            non-reactive nature.</li>
                                        <li>Suitable for daily medical use in hospitals, clinics, and home care
                                            settings.</li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>




                    <!-- shop single details -->
                    <div class="shop-single-details">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-tab2" data-bs-toggle="tab"
                                    data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2"
                                    aria-selected="true"> Product
                                    Specifications</button>

                                <button class="nav-link" id="nav-tab3" data-bs-toggle="tab" data-bs-target="#tab3"
                                    type="button" role="tab" aria-controls="tab3" aria-selected="true"> Product
                                    Description</button>

                                <button class="nav-link " id="nav-tab1" data-bs-toggle="tab" data-bs-target="#tab1"
                                    type="button" role="tab" aria-controls="tab1" aria-selected="true">Usage
                                    Guidelines</button>



                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">

                            <div class="tab-pane fade " id="tab1" role="tabpanel" aria-labelledby="nav-tab1">
                                <div class="shop-single-desc pt-0">


                                    <div class="row">
                                        <div class="col-lg-5 col-xl-4">
                                            <div class="shop-single-list">

                                                <ul>
                                                    <li>Preparation:
                                                        • Clean and dry the application area before use.
                                                        • Avoid applying on wet, oily, or broken skin unless dressing is
                                                        involved.
                                                    </li>

                                                    <li>Application:
                                                        • Unroll the tape and tear/cut to desired length.
                                                        • Apply over the dressing or device, gently pressing edges to
                                                        ensure secure adhesion.
                                                    </li>

                                                    <li>During Use:
                                                        • Monitor skin regularly, especially if worn for extended
                                                        periods.
                                                        • Replace tape when it becomes loose, dirty, or after bathing if
                                                        not water-resistant.
                                                    </li>
                                                    <li>Removal:
                                                        • Gently peel off the tape along the direction of hair growth to
                                                        reduce skin trauma.
                                                        • Remove slowly to avoid irritation, especially on sensitive or
                                                        elderly skin.

                                                    </li>

                                                    </li>
                                                </ul>
                                                <p class="product-price mt-3"><span class="fw-bold">Note:</span>Store
                                                    tapes in
                                                    cool, dry place, away from direct sunlight and moisture.</p>




                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade show active" id="tab2" role="tabpanel" aria-labelledby="nav-tab2">
                                <div class="shop-single-desc">


                                    <div class="row">

                                        <div class="col-lg-6 col-xl-5">
                                            <div class="shop-single-list">
                                                <h5 class="title">Specifications</h5>
                                                <ul>
                                                    <li><span>Material</span>Non-woven fabric
                                                    </li>
                                                    <li><span>Adhesive Type</span>Hypo-allergenic</li>
                                                    <li><span>Pad Type</span>Medical-grade adhesive</li>
                                                    <li><span>Size</span>½", 1", 2", 3" width (custom sizes available)
                                                    </li>
                                                    <li><span>Colour</span>Skin color (Custom printed)</li>
                                                    <li><span>Packaging</span>Individually wrapped or boxed in 12/24/48
                                                        rolls</li>
                                                    <li><span>Shelf Life</span>3–5 years</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade " id="tab3" role="tabpanel" aria-labelledby="nav-tab3">
                                <div class="shop-single-desc">


                                    <div class="row">
                                        <div class="col-lg-5 col-xl-4">
                                            <div class="shop-single-list">

                                                <ul>
                                                    <li>Hypo-allergenic tape is a gentle medical adhesive ideal for
                                                        patients with sensitive or allergy-prone skin.</li>
                                                    <li>Provides secure fixation of medical dressings and devices
                                                        without skin trauma or discomfort.</li>
                                                    <li>Constructed with soft, breathable materials to ensure airflow
                                                        and prevent maceration.</li>
                                                    <li>Available in various widths, materials, and finishes to suit
                                                        clinical and personal care needs.</li>


                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- related item -->
            <div class="product-area related-item pt-40 pb-40">
                <div class="container px-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="site-heading-inline">
                                <h2 class="site-title">Related Items</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 item-2">
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="/micro-pore-paper-tape"><img src="/images/product/micro-pore-tape-1.png"
                                            alt=""></a>
                                    <div class="product-action-wrap">

                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/micro-pore-paper-tape">Micro-pore Paper Tape</a>
                                    </h3>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="/cotton-rolls"><img src="/images/product/cotton-rolls.png" alt=""></a>
                                    <div class="product-action-wrap">

                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/cotton-rolls">Cotton Rolls</a></h3>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="/alcohol-swab"><img src="/images/product/alcohol-swab.png" alt=""></a>
                                    <div class="product-action-wrap">

                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/alcohol-swab">Alcohol-Swab</a></h3>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="/strip-bandage"><img src="/images/product/strip-bandage-1.png" alt=""></a>
                                    <div class="product-action-wrap">

                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/strip-bandage">Strip Bandage</a></h3>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <!-- related item end -->
            </div>
            </div>
            <!-- shop single end -->

        </main>

        <%- include('footer') %>
            <%- include('js') %>
</body>

</html>