<!DOCTYPE html>
<html lang="en">
<head>
      <%- include('meta')%>
    <%- include('style') %>
</head>

<body>
    <%- include('header') %>
        <main class="main">

            <!-- breadcrumb -->
            <div class="site-breadcrumb">
                <div class="site-breadcrumb-bg" style="background: url(images/breadcrumb/01.jpg)"></div>
                <div class="container">
                    <div class="site-breadcrumb-wrap">
                        <h4 class="breadcrumb-title">Micro Centrifuge Tube</h4>
                        <ul class="breadcrumb-menu">
                            <li><a href="/"><i class="far fa-home"></i> Home</a></li>
                            <li class="active">Micro Centrifuge Tube</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- breadcrumb end -->


            <!-- shop single -->
            <div class="shop-single py-90">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-6 col-xxl-5">
                            <div class="shop-single-gallery">
                                <!-- <a class="shop-single-video popup-youtube" href="https://www.youtube.com/watch?v=ckHzmP1evNU" data-tooltip="tooltip" title="Watch Video">
                                <i class="far fa-play"></i>
                            </a> -->
                                <div class="flexslider-thumbnails">
                                    <ul class="slides">
                                        <li data-thumb="images/product/micro-centrifuge-cup.png" rel="adjustX:10, adjustY:">
                                            <img src="images/product/micro-centrifuge-cup.png" alt="#">
                                        </li>
                                        <li data-thumb="images/product/02.png">
                                            <img src="images/product/02.png" alt="#">
                                        </li>
                                        <li data-thumb="images/product/03.png">
                                            <img src="images/product/03.png" alt="#">
                                        </li>
                                        <li data-thumb="images/product/04.png">
                                            <img src="images/product/04.png" alt="#">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xxl-6">
                            <div class="shop-single-info">
                                <h4 class="shop-single-title">Micro Centrifuge Tube</h4>

                                <!-- <div class="shop-single-price">
                                <del>$690</del>
                                <span class="amount">$650</span>
                                <span class="discount-percentage">30% Off</span>
                            </div> -->
                                <p class="mb-3">
They are ideal for processing small sample volumes in clinical, research, and diagnostic laboratories. These tubes are made from medical-grade polypropylene (PP) and are resistant to high-speed centrifugal force, heat, and chemicals.<div class="shop-single-size shop-single-list mt-0">
                                                <h6 class="fw-bold">Usage</h6>
                                                <ul class="list">
                                                    <li>Used for micro-volume sample separation during centrifugation.</li>
                                                    <li>Suitable for use in molecular biology, biochemistry, and clinical laboratories.</li>
                                                    <li>Ideal for DNA/RNA extraction, protein analysis, and enzyme reactions. </li>
                                                     <li>Designed for high-speed centrifugation in benchtop micro centrifuges.</li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                            <div class="shop-single-color">
                                                <h6 class="fw-bold">Color</h6>
                                                <ul class="shop-checkbox-list color">
                                                    <li>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="color1">
                                                            <label class="form-check-label" for="color1"><span
                                                                    style="background-color: #606ddd"></span></label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <!-- shop single details -->
                    <div class="shop-single-details">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link" id="nav-tab2" data-bs-toggle="tab" data-bs-target="#tab2"
                                    type="button" role="tab" aria-controls="tab2" aria-selected="true"> Product
                                    Specifications</button>

                                <button class="nav-link" id="nav-tab3" data-bs-toggle="tab" data-bs-target="#tab3"
                                    type="button" role="tab" aria-controls="tab3" aria-selected="true"> Product
                                    Description</button>

                                <button class="nav-link active" id="nav-tab1" data-bs-toggle="tab"
                                    data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1"
                                    aria-selected="true">Usage Guidelines</button>



                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                        
                            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="nav-tab1">
                                <div class="shop-single-desc pt-0">


                                    <div class="row">
                                        <div class="col-lg-5 col-xl-4">
                                            <div class="shop-single-list">

                                                <ul>
                                                    <li>Pre-Use Check:
•	Inspect for cracks or damage before use.
•	Choose correct size (0.5 ml, 1.5 ml, or 2.0 ml) for your protocol.
</li>
                                                    <li>Sample Loading:
•	Do not overfill; fill only 70–80% of capacity.
•	Ensure the lid is tightly closed to prevent leakage. </li>

                                                    <li>Balancing:
•	Always balance tube symmetrically in the centrifuge rotor.
•	Use identical tube with equal volumes for stability.
</li>
                                                    <li>Centrifugation:
•	Use in compatible micro centrifuges only.
•	Do not exceed the recommended RPM for the tube size.
</li>
                                                    <li>Post-Use:
•	Remove carefully after spin to avoid disturbing the sample layers.
•	Label or store as needed depending on test requirements.


</li>
      <li>Disposal:
•	Dispose of according to laboratory biohazard waste protocols.
•	Autoclave if reusing or before disposal (as per your lab policy).
</li>
                                                </ul>
                                                <p class="product-price mt-3"><span class="fw-bold">Note:</span> Always using Stand </p>




                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade " id="tab2" role="tabpanel" aria-labelledby="nav-tab2">
                                <div class="shop-single-desc">


                                    <div class="row">

                                        <div class="col-lg-6 col-xl-5">
                                            <div class="shop-single-list">
                                                <h5 class="title">Specifications</h5>
                                                <ul>
                                                    <li><span>Material</span> Polypropylene (PP) or Polyethylene (PE)
                                                    </li>
                                                    <li><span>Capacity</span>2 ml / 5 ml / 10 ml / 15 ml / 50 ml</li>
                                                    <li><span>Closure Type</span>Leak-proof with click-lock  </li>
                                                    <li><span>Sterility</span>Sterile or Non-Sterile options</li>
                                                    <li><span>Graduation Marking</span>Yes (Printed)</li>
                                                    <li><span>Centrifuge Rating</span>Up to 14,000–20,000 rpm</li>
                                                    <li><span>Packaging</span>500 or 1000 pcs/pack (bulk or individual)</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade " id="tab3" role="tabpanel" aria-labelledby="nav-tab3">
                                <div class="shop-single-desc">


                                    <div class="row">
                                        <div class="col-lg-5 col-xl-4">
                                            <div class="shop-single-list">

                                                <ul>
                                                    <li>Made from durable, high-grade plastic (PP/PE) for offering excellent chemical resistance and transparency..</li>
                                                    <li>Designed to withstand ultra-high-speed centrifugation without cracking or deforming</li>
                                                    <li>Leak-proof lids ensure sample integrity and safety during spinning..</li>
                                                    <li>Suitable for use in cold storage and heat sterilization.</li>
                                                    <li>Available in multiple sizes and cap types to suit a variety of lab protocols.</li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- related item -->
           <div class="product-area related-item pt-40">
                <div class="container px-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="site-heading-inline">
                                <h2 class="site-title">Related Items</h2>
                                <a href="#">View More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 item-2">
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <span class="type oos">Out Of Stock</span>
                                    <a href="/ria-vial"><img src="/images/product/ria-vial.png" alt=""></a>
                                    <div class="product-action-wrap">
                                       
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/ria-vial">Ria Vial</a></h3>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <span class="type oos">Out Of Stock</span>
                                    <a href="/multi-purpose-vials"><img src="/images/product/multi-purpose-vial.png" alt=""></a>
                                    <div class="product-action-wrap">
                                       
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/multi-purpose-vials">Multi Purpose Vial</a></h3>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <span class="type oos">Out Of Stock</span>
                                    <a href="/conical-centrifuge-tube"><img src="/images/product/routine-container.png" alt=""></a>
                                    <div class="product-action-wrap">
                                       
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/conical-centrifuge-tube">Conical Centrifuge Tube</a></h3>
                                    
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <span class="type hot">Hot</span>
                                   <a href="/self-standing-centrifuge-tube"><img src="/images/gallery/urine-container.png" alt=""></a>
                                    <div class="product-action-wrap">
                                        
                                    </div>
                                </div>
                                <div class="product-content">
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/self-standing-centrifuge-tube">Conical Centrifuge Tube</a></h3>
                                </div>
                            </div>
                        </div>
                        

                        
                    </div>
                </div>
            </div>
            <!-- related item end -->
            </div>
            </div>
            <!-- shop single end -->

        </main>

        <%- include('footer') %>
            <%- include('js') %>
</body>

</html>
