<!DOCTYPE html>
<html lang="en">
<head>
      <%- include('meta')%>
    <%- include('style') %>
</head>

<body>
    <%- include('header') %>
        <main class="main">

            <!-- breadcrumb -->
            <div class="site-breadcrumb">
                <div class="site-breadcrumb-bg" style="background: url(images/breadcrumb/01.jpg)"></div>
                <div class="container">
                    <div class="site-breadcrumb-wrap">
                        <h4 class="breadcrumb-title">Micro-pore-Tape</h4>
                        <ul class="breadcrumb-menu">
                            <li><a href="/"><i class="far fa-home"></i> Home</a></li>
                            <li class="active">Micro-pore-Tape</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- breadcrumb end -->


            <!-- shop single -->
            <div class="shop-single py-90">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-6 col-xxl-5">
                            <div class="shop-single-gallery">
                                <!-- <a class="shop-single-video popup-youtube" href="https://www.youtube.com/watch?v=ckHzmP1evNU" data-tooltip="tooltip" title="Watch Video">
                                <i class="far fa-play"></i>
                            </a> -->
                                <div class="flexslider-thumbnails">
                                    <ul class="slides">
                                        <li data-thumb="images/product/micro-pore-tape.png" rel="adjustX:10, adjustY:">
                                            <img src="images/product/micro-pore-tape.png" alt="#">
                                        </li>
                                        <li data-thumb="images/product/02.png">
                                            <img src="images/product/02.png" alt="#">
                                        </li>
                                        <li data-thumb="images/product/03.png">
                                            <img src="images/product/03.png" alt="#">
                                        </li>
                                        <li data-thumb="images/product/04.png">
                                            <img src="images/product/04.png" alt="#">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xxl-6">
                            <div class="shop-single-info">
                                <h4 class="shop-single-title">Micro-pore-Tape</h4>

                                <!-- <div class="shop-single-price">
                                <del>$690</del>
                                <span class="amount">$650</span>
                                <span class="discount-percentage">30% Off</span>
                            </div> -->
                                <p class="mb-3">
Micropore tape** is a  breathable surgical tape made from non-woven fabric, used to securely hold dressings, gauze, and medical devices on the skin. It is gentle, lightweight, and ideal for sensitive or fragile skin, making it a preferred choice in hospitals and first-aid care.<div class="shop-single-size shop-single-list mt-0">
                                                <h6 class="fw-bold">Usage</h6>
                                                <ul class="list">
                                                    <li>Used to secure dressings, IV lines, catheters, and wound covers.</li>
                                                    <li>Ideal for post-operative dressings, especially on delicate skin areas.</li>
                                                    <li>Commonly used in hospitals, clinics, surgical wards, and home care.</li>
                                                    <li>Suitable for frequent dressing changes as it leaves minimal residue.</li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                            <div class="shop-single-color">
                                                <h6 class="fw-bold">Color</h6>
                                                <ul class="shop-checkbox-list color">
                                                    <li>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="color1">
                                                            <label class="form-check-label" for="color1"><span
                                                                    style="background-color: #606ddd"></span></label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <!-- shop single details -->
                    <div class="shop-single-details">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link" id="nav-tab2" data-bs-toggle="tab" data-bs-target="#tab2"
                                    type="button" role="tab" aria-controls="tab2" aria-selected="true"> Product
                                    Specifications</button>

                                <button class="nav-link" id="nav-tab3" data-bs-toggle="tab" data-bs-target="#tab3"
                                    type="button" role="tab" aria-controls="tab3" aria-selected="true"> Product
                                    Description</button>

                                <button class="nav-link active" id="nav-tab1" data-bs-toggle="tab"
                                    data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1"
                                    aria-selected="true">Usage Guidelines</button>



                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                        
                            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="nav-tab1">
                                <div class="shop-single-desc pt-0">


                                    <div class="row">
                                        <div class="col-lg-5 col-xl-4">
                                            <div class="shop-single-list">

                                                <ul>
                                                    <li> Before Application:
•	Clean and dry the area where the tape will be applied.
•	Ensure skin is free from oils or lotions for better adhesion.
 </li>
                                                    
                                                    <li>Application:
•	Unroll the desired length of tape.
•	Tear or cut to size manually.
•	Apply tape gently but firmly over gauze, dressing, or device.
•	Smooth edges to prevent lifting.
</li>

                                                    <li>During Use:
•	Monitor skin regularly for signs of irritation or reaction.
•	Replace tape as needed, especially if it becomes loose, wet, or dirty.

</li>
                                                    <li>Removal:
•	Gently lift one end and slowly peel off in the direction of hair growth.
•	Avoid pulling quickly to prevent skin damage
</li>

</li>
                                            </ul>
                                                <p class="product-price mt-3"><span class="fw-bold">Note:</span>Store in a cool, dry place, away from direct sunlight and moisture.</p>




                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade " id="tab2" role="tabpanel" aria-labelledby="nav-tab2">
                                <div class="shop-single-desc">


                                    <div class="row">

                                        <div class="col-lg-6 col-xl-5">
                                            <div class="shop-single-list">
                                                <h5 class="title">Specifications</h5>
                                                <ul>
                                                    <li><span>Material</span>Non-woven fabric  
                                                    </li>
                                                    <li><span>Adhesive Type</span>skin-friendly adhesive </li>
                                                    <li><span>Pad Type</span>Medical-grade adhesive</li>
                                                    <li><span>Size</span>½", 1", 2", 3" width (custom sizes available)</li>
                                                    <li><span>Colour</span>Skin color (Custom printed)</li>
                                                    <li><span>Packaging</span>Individually wrapped / Box of 100 / Bulk packs</li>
                                                     <li><span>Shelf Life</span>3–5 years</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade " id="tab3" role="tabpanel" aria-labelledby="nav-tab3">
                                <div class="shop-single-desc">


                                    <div class="row">
                                        <div class="col-lg-5 col-xl-4">
                                            <div class="shop-single-list">

                                                <ul>
                                                    <li>Micropore tape is a gentle, medical-grade tape that offers secure adhesion while allowing skin to breathe..</li>
                                                    <li>Designed for long-term wear, especially for patients with sensitive or compromised skin.</li>
                                                    <li>Easy to tear by hand, making it quick and convenient to use without scissors.</li>
                                                    <li>Leaves minimal adhesive residue, allowing painless removal.</li>


                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- related item -->
            <div class="product-area related-item pt-40">
                <div class="container px-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="site-heading-inline">
                                <h2 class="site-title">Related Items</h2>
                                <a href="#">View More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 item-2">
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <span class="type new">New</span>
                                    <a href="shop-single.html"><img src="images/product/07.png" alt=""></a>
                                    <div class="product-action-wrap">
                                        <div class="product-action">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quickview"
                                                data-bs-placement="right" data-tooltip="tooltip" title="Quick View"><i
                                                    class="far fa-eye"></i></a>
                                            <a href="#" data-bs-placement="right" data-tooltip="tooltip"
                                                title="Add To Wishlist"><i class="far fa-heart"></i></a>
                                            <a href="#" data-bs-placement="right" data-tooltip="tooltip"
                                                title="Add To Compare"><i class="far fa-arrows-repeat"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="shop-single.html">Surgical Face Mask</a></h3>
                                    <div class="product-rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="product-bottom">
                                        <div class="product-price">
                                            <span>$100.00</span>
                                        </div>
                                        <button type="button" class="product-cart-btn" data-bs-placement="left"
                                            data-tooltip="tooltip" title="Add To Cart">
                                            <i class="far fa-shopping-bag"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <span class="type hot">Hot</span>
                                    <a href="shop-single.html"><img src="images/product/08.png" alt=""></a>
                                    <div class="product-action-wrap">
                                        <div class="product-action">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quickview"
                                                data-bs-placement="right" data-tooltip="tooltip" title="Quick View"><i
                                                    class="far fa-eye"></i></a>
                                            <a href="#" data-bs-placement="right" data-tooltip="tooltip"
                                                title="Add To Wishlist"><i class="far fa-heart"></i></a>
                                            <a href="#" data-bs-placement="right" data-tooltip="tooltip"
                                                title="Add To Compare"><i class="far fa-arrows-repeat"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="shop-single.html">Surgical Face Mask</a></h3>
                                    <div class="product-rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="product-bottom">
                                        <div class="product-price">
                                            <span>$100.00</span>
                                        </div>
                                        <button type="button" class="product-cart-btn" data-bs-placement="left"
                                            data-tooltip="tooltip" title="Add To Cart">
                                            <i class="far fa-shopping-bag"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <span class="type oos">Out Of Stock</span>
                                    <a href="shop-single.html"><img src="images/product/12.png" alt=""></a>
                                    <div class="product-action-wrap">
                                        <div class="product-action">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quickview"
                                                data-bs-placement="right" data-tooltip="tooltip" title="Quick View"><i
                                                    class="far fa-eye"></i></a>
                                            <a href="#" data-bs-placement="right" data-tooltip="tooltip"
                                                title="Add To Wishlist"><i class="far fa-heart"></i></a>
                                            <a href="#" data-bs-placement="right" data-tooltip="tooltip"
                                                title="Add To Compare"><i class="far fa-arrows-repeat"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="shop-single.html">Surgical Face Mask</a></h3>
                                    <div class="product-rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="product-bottom">
                                        <div class="product-price">
                                            <span>$100.00</span>
                                        </div>
                                        <button type="button" class="product-cart-btn" data-bs-placement="left"
                                            data-tooltip="tooltip" title="Add To Cart">
                                            <i class="far fa-shopping-bag"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <span class="type discount">10% Off</span>
                                    <a href="shop-single.html"><img src="images/product/14.png" alt=""></a>
                                    <div class="product-action-wrap">
                                        <div class="product-action">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#quickview"
                                                data-bs-placement="right" data-tooltip="tooltip" title="Quick View"><i
                                                    class="far fa-eye"></i></a>
                                            <a href="#" data-bs-placement="right" data-tooltip="tooltip"
                                                title="Add To Wishlist"><i class="far fa-heart"></i></a>
                                            <a href="#" data-bs-placement="right" data-tooltip="tooltip"
                                                title="Add To Compare"><i class="far fa-arrows-repeat"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="shop-single.html">Surgical Face Mask</a></h3>
                                    <div class="product-rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="product-bottom">
                                        <div class="product-price">
                                            <del>$120.00</del>
                                            <span>$100.00</span>
                                        </div>
                                        <button type="button" class="product-cart-btn" data-bs-placement="left"
                                            data-tooltip="tooltip" title="Add To Cart">
                                            <i class="far fa-shopping-bag"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- related item end -->
            </div>
            </div>
            <!-- shop single end -->

        </main>

        <%- include('footer') %>
            <%- include('js') %>
</body>

</html>
