<!DOCTYPE html>
<html lang="en">
<head>
      <%- include('meta')%>
    <%- include('style') %>
</head>

<body>
    <%- include('header') %>
        <main class="main">

            <!-- breadcrumb -->
            <div class="site-breadcrumb">
                <div class="site-breadcrumb-bg" style="background: url(images/breadcrumb/01.jpg)"></div>
                <div class="container">
                    <div class="site-breadcrumb-wrap">
                        <h4 class="breadcrumb-title">Micro Pipette Tips</h4>
                        <ul class="breadcrumb-menu">
                            <li><a href="/"><i class="far fa-home"></i> Home</a></li>
                            <li class="active">Micro PipetteTips</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- breadcrumb end -->


            <!-- shop single -->
            <div class="shop-single py-90">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-6 col-xxl-5">
                            <div class="shop-single-gallery">
                                <!-- <a class="shop-single-video popup-youtube" href="https://www.youtube.com/watch?v=ckHzmP1evNU" data-tooltip="tooltip" title="Watch Video">
                                <i class="far fa-play"></i>
                            </a> -->
                                <div class="flexslider-thumbnails">
                                    <ul class="slides">
                                        <li data-thumb="images/product/micro-pipette-tip.png" rel="adjustX:10, adjustY:">
                                            <img src="images/product/micro-pipette-tip.png" alt="#">
                                        </li>
                                        <!-- <li data-thumb="images/product/02.png">
                                            <img src="images/product/02.png" alt="#">
                                        </li>
                                        <li data-thumb="images/product/03.png">
                                            <img src="images/product/03.png" alt="#">
                                        </li>
                                        <li data-thumb="images/product/04.png">
                                            <img src="images/product/04.png" alt="#">
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xxl-6">
                            <div class="shop-single-info">
                                <h4 class="shop-single-title mb-3">Micro Centrifuge Tips</h4>

                                <!-- <div class="shop-single-price">
                                <del>$690</del>
                                <span class="amount">$650</span>
                                <span class="discount-percentage">30% Off</span>
                            </div> -->
                                <p class="mb-3">
Micro-pipette tips are disposable plastic attachments designed to fit onto micropipettes for precise and contamination-free liquid handling. They are used to aspirate and dispense small volumes of liquid accurately and safely in laboratory procedures.<div class="shop-single-size shop-single-list mt-0">
                                                <h6 class="fw-bold">Usage</h6>
                                                <ul class="list">
                                                    <li>Used in molecular biology, microbiology, biochemistry, and clinical diagnostics.</li>
                                                    <li>Essential for sample preparation, PCR, ELISA, and reagent transfer.</li>
                                                    <li>Prevents cross-contamination between samples by enabling one-time use.. </li>
                                                     <li>Compatible with single-channel and multi-channel micropipettes.</li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                            <div class="shop-single-color">
                                                <h6 class="fw-bold">Color</h6>
                                                <ul class="shop-checkbox-list color">
                                                    <li>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="color1">
                                                            <label class="form-check-label" for="color1"><span
                                                                    style="background-color: #606ddd"></span></label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            
                    <!-- shop single details -->
                    <div class="shop-single-details">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-tab2" data-bs-toggle="tab" data-bs-target="#tab2"
                                    type="button" role="tab" aria-controls="tab2" aria-selected="true"> Product
                                    Specifications</button>

                                <button class="nav-link" id="nav-tab3" data-bs-toggle="tab" data-bs-target="#tab3"
                                    type="button" role="tab" aria-controls="tab3" aria-selected="true"> Product
                                    Description</button>

                                <button class="nav-link " id="nav-tab1" data-bs-toggle="tab"
                                    data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1"
                                    aria-selected="true">Usage Guidelines</button>



                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                        
                            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="nav-tab1">
                                <div class="shop-single-desc pt-0">


                                    <div class="row">
                                        <div class="col-lg-5 col-xl-4">
                                            <div class="shop-single-list">

                                                <ul>
                                                    <li>Tip Selection:
•	Choose the correct volume tip matching your micropipette range.
•	Use sterile, filtered tips for sensitive or DNA/RNA-based applications.
</li>
                                                    <li>Attachment:
•	Gently press the micropipette shaft into the tip for a secure fit.
•	Avoid forcing as it may damage the tip or pipette.
 </li>

                                                    <li>Aspirating Liquid:
•	Press the plunger to the first stop and submerge the tip in the liquid.
•	Slowly release the plunger to aspirate.
</li>
                                                    <li>Dispensing:
•	Dispense by pressing the plunger to the second stop into the target container.
•	Ensure tip does not touch other surfaces to maintain sterility.
</li>
                                                    <li>After Use:
•	Eject the tip using the ejector button.
•	Dispose of the used tip in a suitable waste bin (biohazard if needed).
•	Store unused tips in a clean, dry place away from dust or UV.
</li>
                                            </ul>
                                                <p class="product-price mt-3"><span class="fw-bold">Note:</span>Store unused tips in a clean</p>




                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade " id="tab2" role="tabpanel" aria-labelledby="nav-tab2">
                                <div class="shop-single-desc">


                                    <div class="row">

                                        <div class="col-lg-6 col-xl-5">
                                            <div class="shop-single-list">
                                                <h5 class="title">Specifications</h5>
                                                <ul>
                                                    <li><span>Material</span>Medical-grade Polypropylene (PP)
                                                    </li>
                                                    <li><span>Volume Range</span>0.1–10 µL, 2–20 µL</li>
                                                    <li><span>Type</span> Filtered</li>
                                                    <li><span>Sterility</span>Sterile or Non-Sterile options</li>
                                                    <li><span>Graduation Marking</span>Yes (moulded)</li>
                                                    <li><span>Compatibility</span>Fits most international pipette brands</li>
                                                    <li><span>DNase/RNase Free</span>Yes</li>
                                                    <li><span>Packaging</span>Bulk pack</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade " id="tab3" role="tabpanel" aria-labelledby="nav-tab3">
                                <div class="shop-single-desc">


                                    <div class="row">
                                        <div class="col-lg-5 col-xl-4">
                                            <div class="shop-single-list">

                                                <ul>
                                                    <li>Manufactured using high-quality, virgin polypropylene for transparency and purity.</li>
                                                    <li>Designed for accurate, low-retention dispensing of biological or chemical liquids.</li>
                                                    <li>Ideal for use in sensitive molecular and microbiological techniques.</li>
                                                    <li>Universal-fit design ensures compatibility with most micropipette brands </li>
                                                    <li>Color-coded and graduated, making volume identification quick and efficient.</li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- related item -->
          <div class="product-area related-item pt-40 mb-40">
                <div class="container px-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="site-heading-inline">
                                <h2 class="site-title">Related Items</h2>
                                <a href="#">View More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 item-2">
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <span class="type oos">Out Of Stock</span>
                                    <a href="/macro-pipette-tip"><img src="/images/product/macro-pipette-tip.png" alt=""></a>
                                    <div class="product-action-wrap">
                                       
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/macro-pipette-tip">Macro Pipette Tips</a></h3>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <span class="type oos">Out Of Stock</span>
                                    <a href="/pasture-pipette"><img src="/images/product/pasture-pipette.png" alt=""></a>
                                    <div class="product-action-wrap">
                                       
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/pasture-pipette">Pasture Pipettes</a></h3>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <span class="type oos">Out Of Stock</span>
                                    <a href="/surgical-mask"><img src="/images/product/mask.png" alt=""></a>
                                    <div class="product-action-wrap">
                                       
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/surgical-mask">Surgical Mask</a></h3>
                                    
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <span class="type hot">Hot</span>
                                   <a href="/head-cap"><img src="/images/product/head-cap.png" alt=""></a>
                                    <div class="product-action-wrap">
                                        
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/head-cap">Head cap</a></h3>
                                </div>
                            </div>
                        </div>
                        

                        
                    </div>
                </div>
            </div>
            <!-- related item end -->
            </div>
            </div>
            <!-- shop single end -->

        </main>

        <%- include('footer') %>
            <%- include('js') %>
</body>

</html>
