<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('meta')%>
        <%- include('style') %>
</head>

<body>
    <%- include('header') %>

        <!-- breadcrumb -->
        <div class="site-breadcrumb">
            <div class="site-breadcrumb-bg" style="background: url(images/breadcrumb/01.jpg)"></div>
            <div class="container">
                <div class="site-breadcrumb-wrap">
                    <h4 class="breadcrumb-title">Non Vaccum Tube</h4>
                    <ul class="breadcrumb-menu">
                        <li><a href="/"><i class="far fa-home"></i> Home</a></li>
                        <li class="active">Non Vaccum Tube</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->

        <main>
            <section class="vaccum-tube py-90">
                <div class="container">

                    <div class="row g-4">
                        <div class="col-md-6 col-lg-4">
                            <div class="product-item">
                                <a href="/non-edta-tube">
                                    <div class="product-img">

                                        <img src="images/product/non-edta-1.png" alt="">
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title"><a href="/non-edta-tube">EDTA Tube</a></h3>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="product-item">
                                <a href="/non-sodium-flouride-tube">
                                    <div class="product-img">

                                        <img src="images/product/non-sodium-flouride-1.png" alt="">
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title"><a href="/non-sodium-flouride-tube">Sodium
                                                Flouride</a></h3>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="product-item">
                                <a href="/non-clot-activator-tube">
                                    <div class="product-img">

                                        <img src="images/product/non-clot-activataor-1.png" alt="">
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title"><a href="/non-clot-activator-tube">Clot Activator</a>
                                        </h3>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="product-item">
                                <a href="/non-sodium-citrate">
                                    <div class="product-img">

                                        <img src="images/product/non-sodium-citrate-1.png" alt="">
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title"><a href="/non-sodium-citrate">Sodium Citrate</a></h3>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="product-item">
                                <a href="/non-sst-tube">
                                    <div class="product-img">

                                        <img src="images/product/non-sst-1.png" alt="">
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title"><a href="/non-sst-tube">SST Tube</a></h3>
                                    </div>
                                </a>
                            </div>
                        </div>


                        <div class="col-md-6 col-lg-4">
                            <div class="product-item">
                                <a href="/non-esr-tube">
                                    <div class="product-img">

                                        <img src="images/product/non-esr-1.png" alt="">
                                    </div>
                                    <div class="product-content">
                                        <h3 class="product-title"><a href="/non-esr-tube">ESR Tube</a></h3>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

            </section>
        </main>

        <%- include('footer') %>
            <%- include('js') %>
</body>

</html>