<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('meta')%>
        <%- include('style') %>
</head>

<body>
    <%- include('header') %>
        <main class="main">

            <!-- breadcrumb -->
            <div class="site-breadcrumb">
                <div class="site-breadcrumb-bg" style="background: url(images/breadcrumb/01.jpg)"></div>
                <div class="container">
                    <div class="site-breadcrumb-wrap">
                        <h4 class="breadcrumb-title">EDTA Tube</h4>
                        <ul class="breadcrumb-menu">
                            <li><a href="/"><i class="far fa-home"></i> Home</a></li>
                            <li class="active">EDTA Tube</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- breadcrumb end -->


            <!-- shop single -->
            <div class="shop-single py-90">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-6 col-xxl-5">
                            <div class="shop-single-gallery">
                                <!-- <a class="shop-single-video popup-youtube" href="https://www.youtube.com/watch?v=ckHzmP1evNU" data-tooltip="tooltip" title="Watch Video">
                                <i class="far fa-play"></i>
                            </a> -->
                                <div class="flexslider-thumbnails">
                                    <ul class="slides">
                                        <li data-thumb="images/product/edta-vacc.png" rel="adjustX:10, adjustY:">
                                            <img src="images/product/edta-vacc.png" alt="#">
                                        </li>
                                        <!-- <li data-thumb="images/product/02.png">
                                            <img src="images/product/02.png" alt="#">
                                        </li>
                                        <li data-thumb="images/product/03.png">
                                            <img src="images/product/03.png" alt="#">
                                        </li>
                                        <li data-thumb="images/product/04.png">
                                            <img src="images/product/04.png" alt="#">
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xxl-6">
                            <div class="shop-single-info">
                                <h4 class="shop-single-title mb-3">EDTA Tube</h4>

                                <!-- <div class="shop-single-price">
                                <del>$690</del>
                                <span class="amount">$650</span>
                                <span class="discount-percentage">30% Off</span>
                            </div> -->
                                <p class="mb-3">
                                    EDTA Tubes are blood collection tubes coated with Ethylenediaminetetraacetic Acid
                                    (EDTA), a powerful anticoagulant. EDTA binds calcium ions in blood, preventing
                                    clotting and preserving whole blood in its natural state for laboratory analysis.
                                </p>
                                <div class="shop-single-cs">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="shop-single-size shop-single-list mt-0">
                                                <h6 class="fw-bold">Usage</h6>
                                                <ul class="list">
                                                    <li>Hematology Testing</li>
                                                    <li>CBC (Complete Blood Count)</li>
                                                    <li>Blood Bank Sample Collection
                                                    </li>
                                                    <li>General Clinical Laboratory Use</li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <!-- shop single details -->
                    <div class="shop-single-details">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-tab2" data-bs-toggle="tab"
                                    data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2"
                                    aria-selected="true"> Product
                                    Specifications</button>

                                <button class="nav-link" id="nav-tab3" data-bs-toggle="tab" data-bs-target="#tab3"
                                    type="button" role="tab" aria-controls="tab3" aria-selected="true"> Product
                                    Description</button>

                                <button class="nav-link " id="nav-tab1" data-bs-toggle="tab" data-bs-target="#tab1"
                                    type="button" role="tab" aria-controls="tab1" aria-selected="true">Usage
                                    Guidelines</button>



                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="nav-tab1">
                                <div class="shop-single-desc pt-0">


                                    <div class="row">
                                        <div class="col-lg-5 col-xl-4">
                                            <div class="shop-single-list">

                                                <ul>
                                                    <li>Before Use:
                                                        • Ensure the tube is within its expiration date and not damaged.
                                                        • Confirm correct additive type and volume based on the test.
                                                    </li>
                                                    <li>Collection:
                                                        • Perform venipuncture using standard procedure.
                                                        • Immediately after collection, invert the tube 8–10 times (do
                                                        not shake) to mix blood with the EDTA.
                                                    </li>
                                                    <li>Post Collection:
                                                        • Send to the laboratory within 4–6 hours for best hematological
                                                        results.
                                                        • Can be stored at 2–8°C for short-term preservation
                                                    </li>
                                                    <li>Precaution:
                                                        • Do not use if tube or cap is damaged.
                                                        • Over-mixing or under-mixing can affect test accuracy.
                                                        • Do not freeze the sample after collection.
                                                    </li>
                                                    <li>Storage:
                                                        • Store in a cool, dry place away from sunlight and moisture.
                                                        • Keep in original packaging until use.
                                                    </li>
                                                </ul>
                                                <p class="product-price mt-3"><span class="fw-bold">Note:</span>
                                                    Overfilling or underfilling may affect test accuracy.</p>




                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade " id="tab2" role="tabpanel" aria-labelledby="nav-tab2">
                                <div class="shop-single-desc">


                                    <div class="row">

                                        <div class="col-lg-6 col-xl-5">
                                            <div class="shop-single-list">
                                                <h5 class="title">Specifications</h5>
                                                <ul>
                                                    <li><span>Material</span> Polyethylene (PET)
                                                    </li>
                                                    <li><span>Capacity</span> 2ML, 4ML, 5ML</li>
                                                    <li><span>Cap Type</span> Top UP</li>
                                                    <li><span> Graduation Marking</span> Yes one endicate</li>
                                                    <li><span>Temperature Resistance</span></li>
                                                    <li><span>Transparency</span>Clear </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade " id="tab3" role="tabpanel" aria-labelledby="nav-tab3">
                                <div class="shop-single-desc">


                                    <div class="row">
                                        <div class="col-lg-5 col-xl-4">
                                            <div class="shop-single-list">

                                                <ul>
                                                    <li>Made from non-toxic, medical-grade Polypropylene (PP) or
                                                        Polyethylene (PE)</li>
                                                    <li>Leak-proof screw cap or snap cap options</li>
                                                    <li>Graduated marking for accurate sample volume reading</li>
                                                    <li>Wide-mouth design for easy sample collection</li>
                                                    <li> Label space for patient identification</li>
                                                    <li>Individually packed (sterile) or bulk packed (non-sterile)</li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- related item -->
            <div class="product-area related-item pt-40 pb-40">
                <div class="container px-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="site-heading-inline">
                                <h2 class="site-title">Related Items</h2>
                                <a href="#">View More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 item-2">
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="/non-sodium-flouride-tube"><img
                                            src="images/product/sodium-flouride-vacc.png" alt=""></a>
                                    <div class="product-action-wrap">

                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/non-sodium-flouride-tube">Sodium Flouride
                                            Tube</a></h3>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="/non-clot-activator-tube"><img src="images/product/clot-activator-vacc.png"
                                            alt=""></a>
                                    <div class="product-action-wrap">

                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/non-clot-activator-tube">Clot Activator Tube</a>
                                    </h3>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="/non-sodium-citrate"><img src="images/product/sodium-citrate-vacc.png"
                                            alt=""></a>

                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/non-sodium-citrate">Sodium Citrate Tube</a></h3>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="/non-sst-tube"><img src="images/product/sst-vacc.png" alt=""></a>
                                    <div class="product-action-wrap">

                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/non-sst-tube">SST Tube</a></h3>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- related item end -->
            </div>
            </div>
            <!-- shop single end -->

        </main>

        <%- include('footer') %>
            <%- include('js') %>
</body>

</html>