<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('meta')%>
        <%- include('style') %>
</head>

<body>
    <%- include('header') %>
        <main class="main">

            <!-- breadcrumb -->
            <div class="site-breadcrumb">
                <div class="site-breadcrumb-bg" style="background: url(images/breadcrumb/01.jpg)"></div>
                <div class="container">
                    <div class="site-breadcrumb-wrap">
                        <h4 class="breadcrumb-title">Stool Container</h4>
                        <ul class="breadcrumb-menu">
                            <li><a href="/"><i class="far fa-home"></i> Home</a></li>
                            <li class="active">Stool Container</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- breadcrumb end -->


            <!-- shop single -->
            <div class="shop-single py-90">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-6 col-xxl-5">
                            <div class="shop-single-gallery">
                                <!-- <a class="shop-single-video popup-youtube" href="https://www.youtube.com/watch?v=ckHzmP1evNU" data-tooltip="tooltip" title="Watch Video">
                                <i class="far fa-play"></i>
                            </a> -->
                                <div class="flexslider-thumbnails">
                                    <ul class="slides">
                                        <li data-thumb="images/product/stool-container-1.png"
                                            rel="adjustX:10, adjustY:">
                                            <img src="images/product/stool-container-1.png" alt="#">
                                        </li>
                                        <!-- <li data-thumb="images/product/02.png">
                                        <img src="images/product/02.png" alt="#">
                                    </li>
                                    <li data-thumb="images/product/03.png">
                                        <img src="images/product/03.png" alt="#">
                                    </li>
                                    <li data-thumb="images/product/04.png">
                                        <img src="images/product/04.png" alt="#">
                                    </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xxl-6">
                            <div class="shop-single-info">
                                <h4 class="shop-single-title">Stool Container</h4>

                                <!-- <div class="shop-single-price">
                                <del>$690</del>
                                <span class="amount">$650</span>
                                <span class="discount-percentage">30% Off</span>
                            </div> -->
                                <p class="mb-3">
                                    The Stool Container is a critical tool in diagnostic testing, used by hospitals,
                                    laboratories, and clinics for the collection, preservation, and transportation of
                                    stool samples. Designed with user comfort, technician convenience, and contamination
                                    prevention in mind, it ensures sample integrity from collection to analysis
                                </p>
                                <div class="shop-single-cs">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                            <div class="shop-single-size shop-single-list mt-0">
                                                <h6 class="fw-bold">Usage</h6>
                                                <ul class="list">
                                                    <li>Routine stool examination</li>
                                                    <li> Infectious disease screening </li>
                                                    <li> Microbiological culture
                                                    </li>
                                                    <li> Stool pH and fat analysis</li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                            <div class="shop-single-color">
                                                <h6 class="fw-bold">Color</h6>
                                                <ul class="shop-checkbox-list color">
                                                    <li>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="color1">
                                                            <label class="form-check-label" for="color1"><span
                                                                    style="background-color:#de3026"></span></label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="color1">
                                                            <label class="form-check-label" for="color1"><span
                                                                    style="background-color: #606ddd"></span></label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="color1">
                                                            <label class="form-check-label" for="color1"><span
                                                                    style="background-color: #ddd6d4"></span></label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                   
                       <!-- shop single details -->
                    <div class="shop-single-details">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-tab2" data-bs-toggle="tab"
                                    data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2"
                                    aria-selected="true"> Product
                                    Specifications</button>

                                <button class="nav-link" id="nav-tab" data-bs-toggle="tab" data-bs-target="#tab1"
                                    type="button" role="tab" aria-controls="tab" aria-selected="true"> Product
                                    Description</button>

                                <button class="nav-link" id="nav-tab3" data-bs-toggle="tab" data-bs-target="#tab3"
                                    type="button" role="tab" aria-controls="tab3" aria-selected="true">Usage
                                    Guidelines</button>

                            </div>
                        </nav>


                        </di>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade " id="tab1" role="tabpanel" aria-labelledby="nav-tab1">
                                <div class="shop-single-desc pt-0">


                                    <div class="row">
                                        <div class="col-lg-5 col-xl-4">
                                            <div class="shop-single-list">
                                                        <h5 class="title">Features</h5>
                                                        <ul>
                                                            <li>Made from non-toxic, medical-grade Polypropylene (PP) or
                                                                Polyethylene (PE)</li>
                                                            <li>Odor-resistant and chemically neutral</li>
                                                            <li>Integrated spoon attached to the cap for easy and
                                                                hygienic sample collection</li>
                                                            <li>Leak-proof screw cap or snap cap options</li>
                                                            <li>Wide-mouth design for easy sample collection</li>
                                                            <li> Label space for patient identification</li>
                                                            <li>Individually packed (sterile) or bulk packed
                                                                (non-sterile)</li>


                                                        </ul>
                                                    </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade show active" id="tab2" role="tabpanel" aria-labelledby="nav-tab2">
                                <div class="shop-single-desc">


                                    <div class="row">

                                        <div class="col-lg-6 col-xl-5">
                                            <div class="shop-single-list">
                                                <h5 class="title">Specifications</h5>
                                                <ul>
                                                    <li><span>Material</span> Polypropylene (PP) / Polyethylene (PE)
                                                    </li>
                                                    <li><span>Capacity</span> 30–100 ml</li>
                                                    <li><span>Cap Type</span> Screw Cap </li>
                                                    <li><span> Graduation Marking</span> Yes (in ml)</li>
                                                    <li><span>Temperature Resistance</span>Up to 121°C (Autoclavable –
                                                        PP only)</li>
                                                    <li><span>Transparency</span>Clear or semi-transparent</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade " id="tab3" role="tabpanel" aria-labelledby="nav-tab3">
                                <div class="shop-single-desc">


                                    <div class="row">
                                        <div class="col-lg-5 col-xl-4">
                                             <div class="shop-single-list">

                                                <ul>
                                                    <li>Use sterile container for diagnostic and microbiological
                                                        testing.</li>
                                                    <li> Do not touch the spoon tip directly with your hands.</li>
                                                    <li>Collect stool sample using the spoon provided in the cap.</li>
                                                    <li>Close the lid tightly after sample collection.</li>
                                                    <li>Dispose of container after one-time use — not reusable.</li>
                                                </ul>
                                                <p class="product-price mt-3"><span class="fw-bold">Note:</span> Fill
                                                    only up to the indicated capacity (usually ¾ full).</p>


                                               
                                                
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- shop single details -->


                      <!-- related item -->
                            <div class="product-area related-item pt-40">
                                <div class="container px-0">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="site-heading-inline">
                                                <h2 class="site-title">Related Items</h2>
                                                <a href="#">View More <i class="fas fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-4 item-2">
                                        <div class="col-md-6 col-lg-3">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    <span class="type oos">Out Of Stock</span>
                                                    <a href="/routine-container"><img
                                                            src="/images/product/routine-container.png" alt=""></a>
                                                    <div class="product-action-wrap">

                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <h3 class="product-title"><a href="/routine-container">Routine
                                                            Container</a></h3>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    <span class="type oos">Out Of Stock</span>
                                                    <a href="/sputum-container"><img
                                                            src="/images/product/routine-container.png" alt=""></a>
                                                    <div class="product-action-wrap">

                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <h3 class="product-title"><a href="/sputum-container">Sputum
                                                            Container</a></h3>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    <span class="type oos">Out Of Stock</span>
                                                    <a href="/urine-container"><img
                                                            src="/images/gallery/urine-container.png" alt=""></a>
                                                    <div class="product-action-wrap">

                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <h3 class="product-title"><a href="/sputum-container">Urine
                                                            Container</a></h3>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-3">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    <span class="type hot">Hot</span>
                                                    <a href="/speciman-container"><img
                                                            src="/images/product/specimen-container.png" alt=""></a>
                                                    <div class="product-action-wrap">

                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <h3 class="product-title"><a href="/speciman-container">Specimen
                                                            Container</a></h3>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                            <!-- related item end -->

        </main>

        <%- include('footer') %>
            <%- include('js') %>
</body>

</html>