<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('meta')%>
        <%- include('style') %>
</head>

<body>
    <%- include('header') %>
        <main class="main">

            <!-- breadcrumb -->
            <div class="site-breadcrumb">
                <div class="site-breadcrumb-bg" style="background: url(images/breadcrumb/01.jpg)"></div>
                <div class="container">
                    <div class="site-breadcrumb-wrap">
                        <h4 class="breadcrumb-title mb-3">Sodium Flouride Tube</h4>
                        <ul class="breadcrumb-menu">
                            <li><a href="/"><i class="far fa-home"></i> Home</a></li>
                            <li class="active">Sodium Flouride Tube</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- breadcrumb end -->


            <!-- shop single -->
            <div class="shop-single py-90">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-6 col-xxl-5">
                            <div class="shop-single-gallery">
                                <!-- <a class="shop-single-video popup-youtube" href="https://www.youtube.com/watch?v=ckHzmP1evNU" data-tooltip="tooltip" title="Watch Video">
                                <i class="far fa-play"></i>
                            </a> -->
                                <div class="flexslider-thumbnails">
                                    <ul class="slides">
                                        <li data-thumb="images/product/sodium-flouride-vacc.png"
                                            rel="adjustX:10, adjustY:">
                                            <img src="images/product/sodium-flouride-vacc.png" alt="#">
                                        </li>
                                        <!-- <li data-thumb="images/product/02.png">
                                            <img src="images/product/02.png" alt="#">
                                        </li>
                                        <li data-thumb="images/product/03.png">
                                            <img src="images/product/03.png" alt="#">
                                        </li>
                                        <li data-thumb="images/product/04.png">
                                            <img src="images/product/04.png" alt="#">
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xxl-6">
                            <div class="shop-single-info">
                                <h4 class="shop-single-title">Sodium Flouride Tube</h4>

                                <!-- <div class="shop-single-price">
                                <del>$690</del>
                                <span class="amount">$650</span>
                                <span class="discount-percentage">30% Off</span>
                            </div> -->
                                <p class="mb-3">
                                    Sodium Fluoride (NaF) Tubes, also known as fluoride oxalate tubes, are specially
                                    designed for blood glucose testing. They contain sodium fluoride, which acts as a
                                    glycolysis inhibitor, and often potassium oxalate as an anticoagulant. </p>
                                <div class="shop-single-cs">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                            <div class="shop-single-size shop-single-list mt-0">
                                                <h6 class="fw-bold">Usage</h6>
                                                <ul class="list">
                                                    <li>Used for: Blood glucose estimation</li>
                                                    <li>Application: Clinical biochemistry and diagnostic labs</li>
                                                    <li>Patient use: Diabetic profile, fasting/postprandial glucose,
                                                        glucose tolerance test (GTT)
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                            <div class="shop-single-color">
                                                <h6 class="fw-bold">Color</h6>
                                                <ul class="shop-checkbox-list color">
                                                    <li>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="color1">
                                                            <label class="form-check-label" for="color1"><span
                                                                    style="background-color: #606ddd"></span></label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <!-- shop single details -->
                    <div class="shop-single-details">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-tab2" data-bs-toggle="tab"
                                    data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2"
                                    aria-selected="true"> Product
                                    Specifications</button>

                                <button class="nav-link" id="nav-tab3" data-bs-toggle="tab" data-bs-target="#tab3"
                                    type="button" role="tab" aria-controls="tab3" aria-selected="true"> Product
                                    Description</button>

                                <button class="nav-link " id="nav-tab1" data-bs-toggle="tab" data-bs-target="#tab1"
                                    type="button" role="tab" aria-controls="tab1" aria-selected="true">Usage
                                    Guidelines</button>



                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade " id="tab1" role="tabpanel" aria-labelledby="nav-tab1">
                                <div class="shop-single-desc pt-0">


                                    <div class="row">
                                        <div class="col-lg-5 col-xl-4">
                                            <div class="shop-single-list">

                                                <ul>
                                                    <li>Before Use:
                                                        • Check for expiry date and tube integrity.
                                                        • Choose the correct volume based on test requirements
                                                    </li>
                                                    <li>During Collection:
                                                        • Perform standard venipuncture technique.
                                                        • Allow the tube to fill completely until the vacuum is
                                                        exhausted.
                                                        • Immediately invert the tube 8–10 times gently to mix blood
                                                        with additives.
                                                    </li>
                                                    <li>After Collection:
                                                        • Send the sample to the laboratory within 1–2 hours for best
                                                        results.
                                                        • For longer preservation, store at 2–8°C, maintaining glucose
                                                        stability up to 72 hours.
                                                    </li>
                                                    <li>Precaution:
                                                        • Do not shake the tube harshly – it may cause hemolysis.
                                                        • Use only for biochemical glucose and lactate testing.
                                                        • Discard if the tube or additive is compromised
                                                    </li>
                                                    <li>Storage:
                                                        • Keep in a cool, dry environment, protected from sunlight.
                                                        • Maintain in original packaging until use.
                                                    </li>
                                                </ul>
                                                <p class="product-price mt-3"><span class="fw-bold">Note:</span>
                                                    Overfilling or underfilling may affect test accuracy.</p>




                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade show active" id="tab2" role="tabpanel" aria-labelledby="nav-tab2">
                                <div class="shop-single-desc">


                                    <div class="row">

                                        <div class="col-lg-6 col-xl-5">
                                            <div class="shop-single-list">
                                                <h5 class="title">Specifications</h5>
                                                <ul>
                                                    <li><span>Material</span> Polyethylene (PET)
                                                    </li>
                                                    <li><span>Additive</span>Sodium Fluoride + Potassium Oxalate</li>
                                                    <li><span>Closure Type</span>Rubber stopper with plastic cap</li>
                                                    <li><span> Draw Volume</span>2 ml, 3 ml, 4 ml, 5 ml (customizable)
                                                    </li>
                                                    <li><span>Sterility</span>Sterile, single-use only</li>
                                                    <li><span>Labeling</span>Writable, customizable branding</li>
                                                    <li><span>Transparency</span>Clear </li>
                                                    <li><span>Shelf Life</span>18 – 24 months</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade " id="tab3" role="tabpanel" aria-labelledby="nav-tab3">
                                <div class="shop-single-desc">


                                    <div class="row">
                                        <div class="col-lg-5 col-xl-4">
                                            <div class="shop-single-list">

                                                <ul>
                                                    <li>Made from high-quality, shatter-resistant PET material for
                                                        maximum durability and safety.</li>
                                                    <li>Features a gray color-coded cap for quick and easy
                                                        identification.</li>
                                                    <li>Leak-proof and compatible with automated analyzers and
                                                        centrifuges.</li>
                                                    <li>Ensures long-term glucose stability in the collected blood
                                                        sample.</li>
                                                    <li>Ideal for accurate blood glucose estimation, even when there is
                                                        a delay in sample testing.</li>
                                                    <li>Customizable label options available for branding and
                                                        identification</li>

                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- related item -->
            <div class="product-area related-item pt-40 pb-40">
                <div class="container px-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="site-heading-inline">
                                <h2 class="site-title">Related Items</h2>
                                <a href="#">View More <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row g-4 item-2">
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="/vac-clot-activator-tube"><img src="images/product/clot-activator-vacc.png"
                                            alt=""></a>
                                    <div class="product-action-wrap">

                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/vac-clot-activator-tube">Clot Activator Tube</a>
                                    </h3>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="/vac-sodium-citrate"><img src="images/product/sodium-citrate-vacc.png"
                                            alt=""></a>
                                    <div class="product-action-wrap">

                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/vac-sodium-citrate">Sodium Citrate Tube</a></h3>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="/vac-sst-tube"><img src="/images/product/sst-vacc.png" alt=""></a>
                                    <div class="product-action-wrap">

                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/vac-sst-tube">SST Tube</a></h3>


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="/vac-esr-tube"><img src="/images/product/esr-vacc.png" alt=""></a>
                                    <div class="product-action-wrap">

                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="product-title"><a href="/vac-esr-tube">ESR Tube</a></h3>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- related item end -->
            </div>
            </div>
            <!-- shop single end -->

        </main>

        <%- include('footer') %>
            <%- include('js') %>
</body>

</html>