<!DOCTYPE html>
<html lang="en">

<head>
   
    <%- include('meta')%>
        <%- include('style') %>
</head>

<body>
  <%- include('header') %>

  <!-- breadcrumb -->
        <div class="site-breadcrumb">
            <div class="site-breadcrumb-bg" style="background: url(images/breadcrumb/01.jpg)"></div>
            <div class="container">
                <div class="site-breadcrumb-wrap">
                    <h4 class="breadcrumb-title">Vaccum Tube</h4>
                    <ul class="breadcrumb-menu">
                        <li><a href="/"><i class="far fa-home"></i> Home</a></li>
                        <li class="active">Vaccum Tube</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- breadcrumb end -->

<main>
       <section class="vaccum-tube py-90">
    <div class="container">
       
        <div class="row g-4">
            <div class="col-md-6 col-lg-4">
                <div class="product-item">
                     <a href="/edta-tube">
                    <div class="product-img">
                        
                       <img src="assets/img/product/01.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="/edta-tube">EDTA Tube</a></h3>
                    </div>
                    </a>
                </div>
            </div>
           
            <div class="col-md-6 col-lg-4">
                <div class="product-item">
                     <a href="/sodium-flouride-tube">
                    <div class="product-img">
                       
                       <img src="assets/img/product/01.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="/sodium-flouride-tube">Sodium Flouride</a></h3>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="product-item">
                     <a href="/clot-activator-tube">
                    <div class="product-img">
                        
                       <img src="assets/img/product/01.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="/clot-activator-tube">Clot Activator</a></h3>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="product-item">
                     <a href="/sodium-citrate">
                    <div class="product-img">
                        
                       <img src="assets/img/product/01.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="/sodium-citrate">Sodium Citrate</a></h3>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="product-item">
                     <a href="/sst">
                    <div class="product-img">
                        
                       <img src="assets/img/product/01.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="/sst">SST Tube</a></h3>
                    </div>
                    </a>
                </div>
            </div>


            <div class="col-md-6 col-lg-4">
                <div class="product-item">
                     <a href="/esr">
                    <div class="product-img">
                       
                       <img src="assets/img/product/01.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="/esr">ESR Tube</a></h3>
                    </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="product-item">
                     <a href="/lithium-heparin">
                    <div class="product-img">
                       
                       <img src="assets/img/product/01.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="/lithium-heparin">Lithium Heparin Tube</a></h3>
                    </div>
                    </a>
                </div>
            </div>
           
             <div class="col-md-6 col-lg-4">
                <div class="product-item">
                     <a href="/sodium-heparin-tube">
                    <div class="product-img">
                       
                       <img src="assets/img/product/01.png" alt="">
                    </div>
                    <div class="product-content">
                        <h3 class="product-title"><a href="/sodium-heparin-tube">Sodium Heparin Tube</a></h3>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
       
   </section>
</main>

        <%- include('footer') %>
            <%- include('js') %>
</body>

</html>